/* line 2, ../sass/_main.scss */
.information__text {
  color: red;
  background-color: light-gray;
}

/* line 8, ../sass/_main.scss */
.header__social_float-left,
.contacts__adress_float-left,
.footer__logo_float-left,
.footer__navigation_float-left,
.sidebar {
  float: left;
}

/* line 16, ../sass/_main.scss */
.contacts_float-right,
.contacts__adress_float-right,
.footer__social_float-right,
.main {
  float: right;
}

/* line 23, ../sass/_main.scss */
.container {
  width: 960px;
}
