$color: red;
.information__text {
  color: $color;
  background-color: light-gray;
}


.header__social_float-left,
.contacts__adress_float-left,
.footer__logo_float-left,
.footer__navigation_float-left,
.sidebar {
  float: left;
}

.contacts_float-right,
.contacts__adress_float-right,
.footer__social_float-right,
.main {
  float: right;
}

.container {
  width: 960px;
}
