html, body {
  height: 100%;
}

.wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -220px;
}
.wrapper #layout_footer {
  height: 220px;
}

.footer {
  clear: both;
  position: relative;
  height: 220px;
}

.contacts-sprite, .contacts__address:before, .contacts__phone:before {
  background-image: url('../img/icons/contacts-s50ae9ca47d.png');
  background-repeat: no-repeat;
}

.header__row {
  padding: 25px 0;
}
.header__row {
  *zoom: 1;
}
.header__row:before, .header__row:after {
  content: "";
  display: table;
}
.header__row:after {
  clear: both;
}

.header__row_colored {
  padding: 30px 0;
  background-color: #f4f4f4;
}
.header__row_colored {
  *zoom: 1;
}
.header__row_colored:before, .header__row_colored:after {
  content: "";
  display: table;
}
.header__row_colored:after {
  clear: both;
}

.header {
  background-color: #fff;
}

.contacts {
  font-size: 14px;
  font-family: "Open Sans";
  color: #333333;
  line-height: 1.714;
  text-align: left;
}

.contacts_header {
  float: right;
}

.contacts__address,
.contacts__phone {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  vertical-align: middle;
  margin-left: 86px;
}
.contacts__address:first-child,
.contacts__phone:first-child {
  margin-left: 0;
}

.contacts__address {
  font-family: "OpenSans-Regular";
  font-size: 14px;
}
.contacts__address:before {
  content: "";
  width: 18px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  background-position: 0 0;
  background-position: 0 6px;
}

.contacts__phone {
  font-family: "OpenSans-Semibold";
  font-size: 18px;
}
.contacts__phone:before {
  content: "";
  width: 18px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  background-position: 0 -16px;
  background-position: 0 -16px;
  vertical-align: middle;
}

.logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.logo_header {
  float: left;
  height: 36px;
  width: 238px;
  margin-right: 56px;
}

.menu_header {
  float: right;
  height: 35px;
  width: 390px;
}

.logo__img {
  display: block;
  width: 100%;
}

.logo__link {
  display: block;
}

.logo__text {
  margin-top: -18px;
}

.search_header {
  float: left;
}

.search__form {
  width: 394px;
}

.search__input, .options__slider-input {
  font-size: 14px;
  color: #7f7f7f;
  background-color: #fdfdfd;
  padding: 10px 16px;
  border: 1px solid #dee1e4;
  border-right: none;
  border-radius: 3px 0 0 3px;
  width: 254px;
  height: 13px;
  margin-right: -4px;
  margin-top: -1px;
  outline: none;
}

.search__button {
  background-image: -moz-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -webkit-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-color: #ff6911;
  border: none;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-size: 16px;
  height: 34px;
  width: 79px;
  outline: none;
}

.menu__list {
  margin-right: -4px;
  margin: 0;
  padding: 0;
}

.menu__item {
  margin: 10px 0 10px 29px;
}
.menu__item:first-child {
  margin-left: 0;
}

.menu__link {
  color: #333;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  text-decoration: underline;
}
.menu__link:hover {
  color: #ff6600;
}

.sort-sprite, .options__item.active .options-block__heading:after, .options-block__heading:after, .options-block__label span, .options-block__label input:checked + span, .options-block__label_radio span, .options-block__label_radio input:checked + span, .view__item_link-lines, .view__item_link-rows, .view__item_link-grids, .ui-slider-horizontal .ui-slider-handle, .select2-container .select2-selection__arrow b, .select2-container.select2-container--open b {
  background-image: url('../img/icons/sort-sec7e125e06.png');
  background-repeat: no-repeat;
}

.value-selector__list,
.options__list,
.options-block__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options-block {
  position: relative;
}

.value-selector_aside {
  margin-bottom: 38px;
}

.value-selector__item {
  background-color: #fbfbfb;
  padding: 13px 29px;
  border: 1px solid #dee1e4;
  border-bottom: none;
}
.value-selector__item:first-child {
  border-radius: 5px 5px 0 0;
}
.value-selector__item:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #dee1e4;
}
.value-selector__item:hover {
  background-color: #d9e5ea;
}

.value-selector__link {
  color: #7f7f7f;
  font-size: 14px;
  text-decoration: none;
}

.options__item {
  background-color: #fbfbfb;
  padding: 11px 27px 1px;
  border: 1px solid #dee1e4;
  border-bottom: none;
}
.options__item:first-child {
  border-radius: 5px 5px 0 0;
}
.options__item:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #dee1e4;
}
.options__item.active .options-block__heading:after {
  content: " ";
  background-position: 0 -29px;
}

.options-block__heading {
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  margin: 0;
  padding: 0 0 10px 0px;
}
.options-block__heading:after {
  content: " ";
  background-position: 0 -9px;
  width: 18px;
  height: 10px;
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 8px;
}

.options-block__wrapper {
  padding-bottom: 20px;
}

.options-block__list {
  margin: 5px 0 0 0;
  font-size: 14px;
  font-family: "OpenSans-Regular";
}

.options-block__item {
  margin-top: 18px;
}
.options-block__item:first-child {
  margin-top: 0;
}

.options-block__reset {
  display: block;
  color: #5db2fc;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  padding-left: 2px;
  text-decoration: underline;
  margin-top: 13px;
}

.options-block__label input {
  display: none;
}

.options-block__label span {
  width: 19px;
  height: 19px;
  display: block;
  background-position: 0 -78px;
}

.options-block__label input:checked + span {
  background-position: 0 -40px;
}

.options-block__list .options-block__span {
  padding-left: 30px;
  width: 100%;
}

.options-block__label_radio span {
  background-position: 0 -116px;
}

.options-block__label_radio input:checked + span {
  background-position: 0 -97px;
}

.options__colors-link {
  border: 1px solid #dee1e4;
  width: 36px;
  height: 36px;
  display: block;
}

.options__colors-item {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  bottom: 3px solid transparent;
  margin-left: 17px;
  margin-bottom: 21px;
}
.options__colors-item:hover {
  border-color: #ff6d2e;
}

.options__colors {
  margin-left: -10px;
  margin-right: 0;
  width: 250px;
}

.options__slider-displays {
  margin-bottom: 18px;
}
.options__slider-displays {
  *zoom: 1;
}
.options__slider-displays:before, .options__slider-displays:after {
  content: "";
  display: table;
}
.options__slider-displays:after {
  clear: both;
}

.options__slider-left {
  float: left;
  width: 50%;
}

.options__slider-right {
  float: right;
  width: 50%;
}

.options__slider-input {
  padding: 10px 8px;
  width: 83px;
  border-right: 1px solid #dee1e4;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}

.options__slider-text {
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  vertical-align: middle;
  padding: 8px 5px 0 0;
  font-family: "OpenSans-Regular";
}

.pagination-sprite, .pagination__item_prev .pagination__mark, .pagination__item_next .pagination__mark {
  background-image: url('../img/icons/pagination-s27f6cdc0df.png');
  background-repeat: no-repeat;
}

.rating-sprite, .products__rating-stars-item, .products__rating-stars-item.products__rating-stars-item_filled {
  background-image: url('../img/icons/rating-sb06986f672.png');
  background-repeat: no-repeat;
}

.container__heading {
  font-size: 20px;
  font-family: "OpenSans-Bold";
  color: #333;
  line-height: 22px;
  padding: 0;
  margin-bottom: 30px;
}

.breadcrumbs__list {
  margin-bottom: 21px;
}

.breadcrumbs__item {
  font-family: "OpenSans-Regular";
  display: inline-block;
  vertical-align: middle;
}
.breadcrumbs__item:before {
  content: '>';
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
}
.breadcrumbs__item:first-child:before {
  display: none;
}
.breadcrumbs__item.active .breadcrumbs__link {
  color: #ff6600;
  text-decoration: underline;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #333;
}

.sort {
  background-color: #e4ebee;
  height: 51px;
  border: 1px solid #dee1e4;
  border-radius: 5px;
}

.main__sort {
  margin-bottom: 20px;
}

.sort__selector {
  float: left;
  color: #5d656c;
  display: inline-block;
  margin-right: 14px;
  height: 52px;
  width: 50%;
}

.sort__title,
.sort__select {
  display: inline-block;
  vertical-align: middle;
}

.sort__title {
  padding: 15px 5px 15px 20px;
  font-size: 14px;
  line-height: 16px;
  font-family: "OpenSans-Regular";
}

.sort__view {
  float: right;
}

.view__heading {
  color: #5d656c;
  display: inline-block;
  margin-right: 14px;
  font-family: OpenSans-Regular;
  font-size: 14px;
}

.view__list {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.view__item {
  display: inline-block;
  height: 48px;
  width: 51px;
  border-left: 1px solid #dee1e4;
}
.view__item_link {
  display: block;
  margin: 18px;
  height: 16px;
  width: 16px;
}
.view__item_link-lines {
  background-position: 0 -165px;
}
.view__item_link-rows {
  background-position: 0 -149px;
}
.view__item_link-grids {
  background-position: 0 -181px;
}

.products {
  margin-bottom: 68px;
}

.products__list {
  border: 1px solid #dee1e4;
  border-radius: 7px;
  overflow: hidden;
  background-color: #fbfbfb;
}

.products__item {
  border-top: 1px solid #dee1e4;
}
.products__item:first-child {
  border-top: 0 none;
}
.products__item:hover {
  box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.5);
}

.products__item_inner {
  position: relative;
  padding: 19px 22px;
}
.products__item_inner {
  *zoom: 1;
}
.products__item_inner:before, .products__item_inner:after {
  content: "";
  display: table;
}
.products__item_inner:after {
  clear: both;
}

.products__left {
  float: left;
}

.products__slideshow {
  width: 140px;
  float: left;
}

.products__slideshow-block {
  margin-bottom: 8px;
}

.products__slideshow-display, .products__slideshow-link {
  width: 134px;
  height: 134px;
  border: 1px solid #dee1e4;
  background: #fff;
  position: relative;
  display: block;
  margin-bottom: 14px;
  border-radius: 3px;
}

.products__slideshow-img {
  display: block;
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products__slideshow-thumbs {
  margin-left: -15px;
}
.products__slideshow-thumbs {
  *zoom: 1;
}
.products__slideshow-thumbs:before, .products__slideshow-thumbs:after {
  content: "";
  display: table;
}
.products__slideshow-thumbs:after {
  clear: both;
}

.products__slideshow-item {
  margin-left: 15px;
  float: left;
}
.products__slideshow-item.active .products__slideshow-link {
  border-color: #60ac49;
}

.products__slideshow-link {
  width: 34px;
  height: 34px;
  border-radius: 3px;
  margin-bottom: 0;
  position: relative;
}
.products__slideshow-link:hover {
  border-color: #ff6911;
}

.products__slideshow-thumb-img {
  display: block;
  max-width: 85%;
  max-height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products__article {
  text-align: center;
  padding-right: 8px;
}

.products__article-word {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  font-family: OpenSans-Semibold;
}

.products__article-num {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  font-size: 14px;
  line-height: 16px;
  font-family: OpenSans-Semibold;
  color: #333;
}

.products__desc {
  float: left;
  width: 380px;
  margin-left: 21px;
}

.products__desc-title {
  font-size: 16px;
  font-family: OpenSans-Semibold;
  margin-bottom: 20px;
  padding-top: 7px;
}

.products__desc-options {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 20px;
  font-family: OpenSans-Regular;
}

.products__option-item {
  background: transparent;
}

.products__option-item_colored {
  background: transparent;
}

.products__option-key {
  display: inline;
  font-size: 14px;
  line-height: 16px;
}

.products__option-value {
  display: inline;
  font-size: 14px;
  line-height: 16px;
}

.products__rating-stars-item {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  vertical-align: middle;
  background-position: 0 -16px;
  width: 16px;
  height: 16px;
}
.products__rating-stars-item.products__rating-stars-item_filled {
  background-position: 0 0;
}

.products__rating-stars {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  vertical-align: middle;
  padding-top: 3px;
}

.products__rating-amount {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  vertical-align: middle;
  color: #fbfbfb;
  font-size: 12px;
  line-height: 15px;
  width: 30px;
  background: #b5beca;
  border-radius: 20px;
  margin-left: 8px;
  text-align: center;
  padding-top: 1px;
  margin-top: 5px;
}

.products__right {
  position: absolute;
  top: 23px;
  bottom: 23px;
  right: 23px;
  width: 130px;
  text-align: right;
}

.products__info {
  padding-left: 25px;
  border-left: 1px solid #dee1e4;
  height: 100%;
}

.products__info-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 3px 0 0;
}

.products__price {
  font-size: 20px;
  font-family: OpenSans-Semibold;
  line-height: 20px;
}

.products__buy-btn {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  text-decoration: none;
  padding: 6px 13px;
  font-family: OpenSans-Bold;
  font-size: 14px;
  border-radius: 4px;
  background-color: #ff6911;
  color: #fff;
  margin-bottom: 9px;
}

.products__price {
  display: inline-block;
  color: #333;
  font-size: 20px;
  line-height: 22px;
  font-family: OpenSans-Semibold;
}

.rub {
  display: inline-block;
  font-family: als_rublregular;
  font-size: 20px;
  line-height: 22px;
  color: #333;
}

.products__aviability {
  font-family: OpenSans-Bold;
  font-size: 12px;
  line-height: 14px;
  color: #7f7f7f;
}
.products__aviability:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #60ac49;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  margin-right: 7px;
  vertical-align: middle;
}

.pagination {
  text-align: right;
}

.pagination__list {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}

.pagination__item {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  border-radius: 3px;
  border: 1px solid #dee1e4;
  position: relative;
  overflow: hidden;
}

.pagination__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: #fff;
}
.pagination__link:hover {
  background: #c0c0c0;
}

.pagination__mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 26px;
  text-align: center;
  font-family: OpenSans-Bold;
  font-size: 12px;
  color: #7f7f7f;
  width: 23px;
  height: 23px;
}
.pagination__mark:hover {
  color: #fff;
}

.pagination__item_prev .pagination__mark {
  background-position: 0 0;
  height: 23px;
}

.pagination__item_next .pagination__mark {
  background-position: 0 -26px;
  height: 24px;
}

.products__list_grids {
  border: none;
  overflow: auto;
  border-radius: 0px;
  margin-left: -11px;
  background: transparent;
}
.products__list_grids .products__item {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 235px;
  border-top: 0;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #dee1e4;
  margin-left: 11px;
  margin-bottom: 11px;
  background: #fff;
}
.products__list_grids .products__item_inner {
  padding: 16px 13px;
}
.products__list_grids .products__slideshow {
  width: auto;
  text-align: center;
  float: none;
}
.products__list_grids .products__slideshow-display, .products__list_grids .products__slideshow-link {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.products__list_grids .products__slideshow-item {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  float: none;
}
.products__list_grids .products__desc {
  width: auto;
  float: none;
  margin-left: 0;
}
.products__list_grids .products__desc-options {
  margin-bottom: 3px;
}
.products__list_grids .products__desc-title {
  margin-bottom: 6px;
  padding-top: 0;
}
.products__list_grids .products__rating {
  margin-bottom: 10px;
}
.products__list_grids .products__rating-stars {
  padding-left: 11px;
}
.products__list_grids .products__article {
  display: none;
}
.products__list_grids .products__info-bottom {
  position: static;
  border: 0 none;
  padding: 0;
}
.products__list_grids .products__info-bottom {
  *zoom: 1;
}
.products__list_grids .products__info-bottom:before, .products__list_grids .products__info-bottom:after {
  content: "";
  display: table;
}
.products__list_grids .products__info-bottom:after {
  clear: both;
}
.products__list_grids .products__info {
  border: 0 none;
  padding-left: 0;
  margin-bottom: 4px;
}
.products__list_grids .products__left {
  float: none;
}
.products__list_grids .products__right {
  position: static;
  width: auto;
  text-align: center;
}
.products__list_grids .products__buy-btn {
  margin-bottom: 0;
  float: right;
  padding: 7px 15px;
}
.products__list_grids .products__aviability {
  float: left;
  padding: 7px 0px 0px 8px;
}
.products__list_grids .products__option-item {
  color: #333;
  font-size: 14px;
}
.products__list_grids .products__option-item {
  *zoom: 1;
}
.products__list_grids .products__option-item:before, .products__list_grids .products__option-item:after {
  content: "";
  display: table;
}
.products__list_grids .products__option-item:after {
  clear: both;
}
.products__list_grids .products__option-key {
  display: block;
  float: left;
  text-align: left;
}
.products__list_grids .products__option-value {
  display: block;
  float: right;
  text-align: right;
  line-height: 20px;
}
.products__list_grids .products__option-item_colored {
  background: #e6e6e6;
}

.products__list_lines .products__slideshow-block {
  display: none;
}
.products__list_lines .products__slideshow {
  width: 110px;
}
.products__list_lines .products__item_inner {
  height: 100%;
  box-sizing: border-box;
  padding: 7px 14px 10px 12px;
}
.products__list_lines .products__left {
  width: 415px;
  padding-top: 11px;
}
.products__list_lines .products__article {
  display: inline;
}
.products__list_lines .products__article-num,
.products__list_lines .products__article-word {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  vertical-align: middle;
  color: #333;
}
.products__list_lines .products__desc {
  width: 300px;
  margin-left: 5px;
}
.products__list_lines .products__desc-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
  padding-top: 0;
}
.products__list_lines .products__desc-options {
  display: none;
}
.products__list_lines .products__rating {
  display: none;
}
.products__list_lines .products__right {
  float: right;
  position: static;
  width: auto;
}
.products__list_lines .products__info {
  border: 0 none;
  padding-left: 0;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  vertical-align: middle;
  margin-right: 20px;
}
.products__list_lines .products__info-bottom {
  position: static;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  vertical-align: middle;
  padding: 0;
}
.products__list_lines .products__buy-btn {
  float: right;
  padding: 7px 15px;
  margin: 0;
}
.products__list_lines .products__aviability {
  float: left;
  padding-top: 11px;
  margin-right: 19px;
}
.products__list_lines .products_price {
  color: #333;
  font-size: 18px;
  line-height: 22px;
  font-family: OpenSans-Semibold;
}

.information__heading {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  color: #333;
  padding: 0;
  margin: 0;
}

.information__text {
  padding: 25px 0 30px;
  margin: 0 -2%;
}

.information__p {
  color: #333;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  margin-bottom: 25px;
  margin-top: 0;
  text-indent: 35px;
  text-align: justify;
  line-height: 1.45;
  box-sizing: border-box;
  padding: 0 4%;
}
.information__p:last-child {
  margin-bottom: 0;
}

.first .column {
  width: 48%;
  float: left;
}

.last .column {
  width: 48%;
  float: right;
}

.footer {
  background-image: url(../img/footer.png);
  padding: 35px 80px 30px;
}

.logo_footer {
  margin-top: 38px;
}

.copyright {
  text-align: center;
}

.copyright_footer {
  bottom: 0;
  left: 0;
  border-top: 1px solid #494949;
  position: absolute;
  width: 100%;
  font-family: OpenSans-Regular;
  font-size: 12px;
  color: #fff;
  padding: 10px 0;
}

.navigation__list {
  padding: 0 5px;
  margin: 0;
  font-size: 0;
}

.navigation__item {
  padding: 15px;
}

.navigation__link {
  font-family: "OpenSans-Regular";
}

.navigation_wide {
  background-color: #fff;
  margin-bottom: 28px;
}

.navigation__item_wide:hover {
  background-color: #e4e2e2;
}
.navigation__item_wide.active {
  background-image: -moz-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -webkit-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background: #ff6d2e;
}

.navigation__link_wide {
  color: #333;
  font-size: 16px;
  text-decoration: none;
}

.active .navigation__link_wide {
  color: #fff;
  font-family: "OpenSans-Semibold";
}

.navigation_footer {
  float: right;
  width: 583px;
  clear: both;
  margin-right: -20px;
  text-align: right;
}

.navigation__link_footer {
  color: #fff;
  font-size: 14px;
}
.navigation__link_footer:hover {
  color: #ff6600;
}

.social-sprite, .social__link_header-VK, .social__link_header-VK:hover, .social__link_header-Facebook, .social__link_header-Facebook:hover, .social__link_header-Twitter, .social__link_header-Twitter:hover, .social__link_footer-VK, .social__link_footer-VK:hover, .social__link_footer-Facebook, .social__link_footer-Facebook:hover, .social__link_footer-Twitter, .social__link_footer-Twitter:hover {
  background-image: url('../img/icons/social-s42f1e181fc.png');
  background-repeat: no-repeat;
}

.social__list,
.social__item {
  display: inline-block;
}

.social__list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.social__item {
  background-color: #333;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  font-size: 16px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 15px;
}
.social__item:first-child {
  margin-left: 0;
}

.social__link_header {
  display: block;
}
.social__link_header-VK {
  background-position: 0 -388px;
}
.social__link_header-VK:hover {
  background-position: 0 -362px;
}
.social__link_header-Facebook {
  background-position: 0 -112px;
}
.social__link_header-Facebook:hover {
  background-position: 0 -86px;
}
.social__link_header-Twitter {
  background-position: 0 -250px;
}
.social__link_header-Twitter:hover {
  background-position: 0 -224px;
}

.social__link_footer {
  display: block;
}
.social__link_footer-VK {
  background-position: 0 -319px;
  height: 43px;
  width: 43px;
}
.social__link_footer-VK:hover {
  background-position: 0 -276px;
}
.social__link_footer-Facebook {
  background-position: 0 -43px;
  height: 43px;
  width: 43px;
}
.social__link_footer-Facebook:hover {
  background-position: 0 0;
}
.social__link_footer-Twitter {
  background-position: 0 -181px;
  height: 43px;
  width: 43px;
}
.social__link_footer-Twitter:hover {
  background-position: 0 -138px;
}

.social_header {
  float: left;
}

.social_footer {
  float: right;
}

.social__item_footer {
  background-color: #fff;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 26px;
}
.social__item_footer:first-child {
  margin-left: 0;
}

.ui-slider-horizontal {
  height: 3px !important;
  background: grey;
  border-radius: 0;
  border: 0 none;
  margin-bottom: 14px;
}
.ui-slider-horizontal * {
  outline: none !important;
}
.ui-slider-horizontal .ui-slider-range {
  background: orange;
}
.ui-slider-horizontal .ui-slider-handle {
  background-position: 0 -135px;
  top: 0;
  border: 0 none;
  border-radius: 0;
  margin-left: -4px !important;
  cursor: pointer;
  width: 1.2em;
  height: 0.8em !important;
}

.select2-container {
  width: 160px !important;
}
.select2-container * {
  outline: none !important;
}
.select2-container .select2-selection__arrow b {
  background-position: 0 0;
  height: 9px !important;
  width: 13px !important;
  border: 0 none !important;
  margin: auto !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}
.select2-container.select2-container--open b {
  background-position: 0 -20px;
}
.select2-container .select2-selection__rendered {
  font-size: 14px !important;
  font-family: "OpenSans-Light" !important;
  color: #7f7f7f !important;
}
.select2-container .select2-dropdown {
  margin-top: 2px !important;
  bottom: 0 none !important;
  background: #ffffff !important;
  border-radius: 5px !important;
}
.select2-container .select2-dropdown .select2-results__option {
  background: #ffffff !important;
  font-size: 14px !important;
  line-height: 16px !important;
  font-family: "OpenSans-Light" !important;
  color: #7f7f7f !important;
}
.select2-container .select2-dropdown .select2-results__option:hover {
  background: #f8f8f8 !important;
  color: #333 !important;
}
.select2-container .select2-dropdown .select2-results__option .select2-results__option-highlighted {
  color: #333 !important;
  font-family: "OpenSans-Semibold" !important;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}

.wrapper {
  min-width: 1120px;
}

.container,
.footer__container {
  width: 1100px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  left: 0;
  list-style: none outside none;
}

p {
  padding: 0;
  margin: 0;
}

.navigation__item,
.menu__item,
.social__item {
  display: inline-block;
}
.navigation__item:last-child,
.menu__item:last-child,
.social__item:last-child {
  margin-right: 0;
}

.sidebar {
  width: 333px;
}

.main {
  width: 743px;
}

.information,
.header__social_float-left,
.contacts__address_float-left,
.footer__logo_float-left,
.footer__navigation_float-left,
.sidebar,
.float-left {
  float: left;
}

.contacts_float-right,
.contacts__address_float-right,
.footer__social_float-right,
.main,
.float-right {
  float: right;
}
