- var valueSelector = ["Флагманы", "Бюджетная линейка"]
- var optionsBrand = ["Lenovo", "Apple", "Samsung", "Asus", "Motorola"]
- var optionsOs = ["Android", "iOS", "Windows Mobile", "Simbian", "Custom"]
- var colors = ['#fff', '#ccc', '#000', '#0a3153', '#ff1800', '#fff343', '#fb914a', '#92c37c', '#40a6ff', '#9870ad', '#dc78ad', '#7f401d']

aside.sidebar
  div(class="value-selector value-selector_aside")
    +menu(valueSelector, 'value-selector')
  .options
    ul.options__list
      li.options__item.active
        div.options-block
          h4.options-block__heading Наличие в магазинах
          .options-block__wrapper
            ul(class="options-block__list")
              li(class="options-block__item")
                label(class="options-block__label options-block__label_radio")
                  input(type="radio" class="options-block__radio" name='re')
                  span(class="options-block__span") Во всех магазинах
              li(class="options-block__item")
                label(class="options-block__label options-block__label_radio")
                  input(type="radio" class="options-block__radio" name='re')
                  span(class="options-block__span") В ближайшем ко мне магазине
      li.options__item.active
        div.options-block
          h4.options-block__heading Бренды
          .options-block__wrapper
            +menuCheckbox(optionsBrand, 'options-block')
            a(href="#" class="options-block__reset") Сбросить фильтр
      li.options__item.active
        div.options-block
          h4.options-block__heading Цена
          .options-block__wrapper
            .options__slider
              .options__slider-displays
                .options__slider-left
                  .options__slider-text от
                  input(name="" type="text" placeholder="").options__slider-input.options__slider-input_from
                .options__slider-right
                  .options__slider-text до
                  input(name="" type="text" placeholder="").options__slider-input.options__slider-input_to
              div(class="options__slider-element" data-min="0" data-max="30000")   
      li.options__item.active
        div.options-block
          h4.options-block__heading Цвет
          .options-block__wrapper
            ul.options__colors
              each color in colors
                li.options__colors-item
                  a(href="#" style="background-color:" + color).options__colors-link 
            a(href="#" class="options-block__reset") Сбросить фильтр
      li.options__item.active
        div.options-block
          h4.options-block__heading Операционные системы
          .options-block__wrapper
            +menuCheckbox(optionsOs, 'options-block')
            a(href="#" class="options-block__reset") Сбросить фильтр
            
