- var valueSelector = ["Флагманы", "Бюджетная линейка"]
- var optionsBrand = ["Lenovo", "Apple", "Samsung", "Asus", "Motorola"]
- var optionsOs = ["Android", "iOS", "Windows Mobile", "Simbian", "Custom"]
- var optionsColors = ["white", "grey", "black", "dark-purple", "red", "yellow", "orange", "green", "blue", "purple", "pink", "brown"]

aside.sidebar
  div(class="value-selector value-selector_aside")
    +menu(valueSelector, 'value-selector')
  .options
    ul.options__list
      li.options__item.active
        div.options-block
          h4.options-block__heading Наличие в магазинах
          .options-block__wrapper
            ul(class="options-block__list")
              li(class="options-block__item")
                label(class="options-block__label options-block__label_radio")
                  input(type="radio" value="closest-store" class="options-block__radio")
                  span(class="options-block__span") Во всех магазинах
              li(class="options-block__item")
                label(class="options-block__label options-block__label_radio")
                  input(type="radio" value="closest-store" class="options-block__radio")
                  span(class="options-block__span") В ближайшем ко мне магазине
      li.options__item.active
        div.options-block
          h4.options-block__heading Бренды
          .options-block__wrapper
            +menuCheckbox(optionsBrand, 'options-block')
            a(href="#" class="options-block__reset") Сбросить фильтр
      li.options__item.active
        div.options-block
          h4.options-block__heading Цена
          .options-block__wrapper
      li.options__item.active
        div.options-block
          h4.options-block__heading Цвет
          .options-block__wrapper
            +menuColors(optionsColors, 'options-block')  
      li.options__item.active
        div.options-block
          h4.options-block__heading Операционные системы
          .options-block__wrapper
            +menuCheckbox(optionsOs, 'options-block')
            a(href="#" class="options-block__reset") Сбросить фильтр
            
