footer.footer
  .footer__container
    div(class="logo logo_footer float-left footer__logo_float-left")
      a(href="" class="logo__link")
        img(src="../img/logo-footer.png" class="logo__img")
    div(class="social footer__social footer__social_float-right")
      +menu(social, 'social')
    nav(class="navigation footer__navigation footer__navigation_float-left")
      +menu(navigation, 'navigation')
    div(class="copyright footer__copyright")
      span(class="copyright__span")
