- var social = ["Facebook", "VK", "Twitter"]
- var menu = ["Карта проезда", "История заказов", "Корзина"]
- var navigation = ["Планшеты", "Мобильные телефоны", "Mp3 плееры", "Персональные компьютеры", "Ноутбуки", "Аксессуары", "Бытовая техника"]

header.header
  div(class="header__row")
    .container
      +menuSocial(social, 'social', 'header')
      div(class="contacts contacts_header")
        ul(class="contacts__list")
          li(class="contacts__address") ул. Маяковская 6, офис 17
          li(class="contacts__phone") +7 (921) 123-12-13
  div(class="header__row header__row_colored")
    .container
      div(class="logo logo_header")
        a(href="" class="logo__link")
          img(src="../img/logo.png" class="logo__img")
          .logo__text CoolTech
      div(class="search search_header")
        form(class="form search__form")
          input(class="search__input" type="search" placeholder="Что будем искать" required)
          input(class="search__button" type="button" value="Найти")
      div(class="menu menu_header")
        +menu(menu, 'menu')
