head
  <meta charset="UTF-8">
  <!--IE-to-EDGE-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--Scale-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <!--SEO-->
  <meta name="description" content="content">
  <meta name="keywords" content="content">
  <meta name="author" content="content">
  <!--favicon.ico-->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!--Fonts-->
  <link rel="stylesheet" href="css/fonts/stylesheet.css">
  <!--CSS-->
  <link rel="stylesheet" href="bower/normalize-css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link href="bower/lightbox2/dist/css/lightbox.min.css" rel="stylesheet">
  <link href="bower/jquery-ui/themes/base/slider.css" rel="stylesheet">
  <link href="bower/select2/dist/css/select2.min.css" rel="stylesheet">
  <!--modernizr-->
  <script src="bower/modernizer/modernizr.js"></script>
