section.main
  header.main__header
  ul.main__list
    li.main__list
      div.item_articul Артикул: 189238
      div.item_name Смартфон Samsung Lorem ipsum dolor sit amet, consectetur
      div.item_price 19000
      div.item_stock в наличии
      div.item_basket: button В корзину
      
