include includes/_mixins

html(lang="ru-RU")
  head
    <meta charset="UTF-8">
    <!--IE-to-EDGE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Scale-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--SEO-->
    <meta name="description" content="content">
    <meta name="keywords" content="content">
    <meta name="author" content="content">
    <!--favicon.ico-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <!-- build:css fonts/fonts.min.css -->
    <link rel="stylesheet" href="css/fonts/stylesheet.css">
    <!-- endbuild -->
    
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- endbuild -->
     
     
    <!-- build:css css/vendor.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js js/modernizr.min.js -->
    <script src="bower/modernizr/src/Modernizr.js"></script>
    <!-- endbuild -->
body
  .wrapper
    include includes/_header
    nav(class="navigation navigation_wide")
      .container
        +menuNav(navigation, 'navigation', 'wide')
    .container
      ul.breadcrumbs__list
        - var items = ["Главная", "Каталог"]
        each item in items
          li(class="breadcrumbs__item" + ((item == "Каталог") ? ' active' : ''))
            a(href='#').breadcrumbs__link= item            
      h1.container__heading Мобильные телефоны
      include includes/_aside.jade
      include includes/_main.jade
      include includes/_section.jade
      <div id='layout_footer'></div>
  footer.footer
    .footer__container
      div(class="logo logo_footer float-left footer__logo_float-left")
        a(href="" class="logo__link")
          img(src="img/logo-footer.png" class="logo__img")
          .logo__text CoolTech
      +menuSocial(social, 'social', 'footer')
      nav(class="navigation navigation_footer")
        +menuNav(navigation, 'navigation', 'footer')
      div(class="copyright copyright_footer")
        span(class="copyright__span") All rights reserved. 2015. No copy allowed
        

  <!-- build:js js/vendor.min.js -->            
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js js/main.min.js -->
  <script src="js/main.js"></script>
  <script src="js/changeView.js"></script>
  <script src="js/slideshow.js"></script>
  <script src="js/accordeon.js"></script>
  <!-- endbuild -->
