// футер
@import "compass/layout.scss";
@include sticky-footer(220px, ".wrapper", "#layout_footer", ".footer");


@import "includes/mixins.scss";
@import "includes/_header.scss";
@import "includes/_aside.scss";
@import "includes/_main.scss";
@import "includes/_main-grid-view.scss";
@import "includes/_main-lines-views.scss";
@import "includes/_section.scss";
@import "includes/_footer.scss";
@import "includes/_navigation.scss";

@import "includes/_socials.scss";
@import "includes/_slider.scss";







html, body {
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
}

.wrapper {
    min-width: 1120px;
}

.container,
.footer__container {
  width: 1100px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  left: 0;
  list-style: none outside none;
}
p {
  padding: 0;
  margin: 0;
}

.navigation__item,
.menu__item,
.social__item {
	display: inline-block;
	&:last-child {
		margin-right: 0;
	}
}

.sidebar {
  width: 333px;
}



.main {
  width: 743px;
}

.navigation__list {
}



.information,
.header__social_float-left,
.contacts__address_float-left,
.footer__logo_float-left,
.footer__navigation_float-left,
.sidebar,
.float-left {
  float: left;
}

.contacts_float-right,
.contacts__address_float-right,
.footer__social_float-right,
.main,
.float-right {
  float: right;
}

.container {

}
