@import "icons/sort/*.png";

.value-selector__list,
.options__list,
.options-block__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.options-block {
  position: relative;
}

.value-selector_aside {
  margin-bottom: 38px;
}
.value-selector__item {
  background-color: #fbfbfb;
  padding: 17px 29px;
  border: 1px solid #dee1e4;
  border-bottom: none;

  &:first-child {
    border-radius: 5px 5px 0 0;
  }
  &:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #dee1e4;
  }
  &:hover {
    background-color: #d9e5ea;
  }
}
.value-selector__link {
  color: #7f7f7f;
  font-size: 14px;
  text-decoration: none;
}


.options__item {
  background-color: #fbfbfb;
  padding: 16px 29px 19px;
  border: 1px solid #dee1e4;
  border-bottom: none;

  &:first-child {
    border-radius: 5px 5px 0 0;
  }
  &:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #dee1e4;
  }
  &.active {
    .options-block__heading {
      &:after {
        content: " ";
        @include sort-sprite(arrow);
      }
    }
  }
}
.options-block__heading {
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  margin: 0;
  padding: 0;

  &:after {
    content: " ";
    @include sort-sprite(arrow-rev);
    width: 18px;
    height: 10px;
    display: inline-block;
    position: absolute;
    right: -18px;
    top: 2px;
  }
}
.options-block__list {
  margin: 17px 0;
  font-size: 14px;
  font-family: "OpenSans-Regular";
}
.options-block__item {
  margin-top: 18px;
  &:first-child {
    margin-top: 0
  }
}
.options-block__reset {
  color: #5db2fc;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  text-decoration: underline;
}




.options-block__label input {
    display: none;
}
.options-block__label span {
    width: 19px;
    height: 19px;
    display: block;
    @include sort-sprite(cb);

}
.options-block__label input:checked + span {
    @include sort-sprite(cb-just-checked);
    background-position: 0 -59px;
}
.options-block__list .options-block__span {
  padding-left: 30px;
  width: 100%;
}
.options-block__label_radio span {
    @include sort-sprite(radio-clean);
    // background-position: 0 -66px
}
.options-block__label_radio input:checked + span {
    @include sort-sprite(radio-check);
}
