.footer {
  background-image: url(../img/footer.png);
  padding: 35px 80px 30px;
}
.logo_footer {
  margin-top: 38px;
}

.copyright {
  text-align: center;
}
.copyright_footer {
  bottom: 0;
  left: 0;
  border-top: 1px solid #494949;
  position: absolute;
  width: 100%;
  font-family: OpenSans-Regular;
  font-size: 12px;
  color: #fff;
  padding: 10px 0;
}
