@import "icons/contacts/*.png";

.header__row {
  padding: 25px 0;
  @include clearfix;
}
.header__row_colored {
  padding: 30px 0;
  background-color: #f4f4f4;
  @include clearfix;
}

.header {
  background-color: #fff;
}



.contacts {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(51, 51, 51);
  line-height: 1.714;
  text-align: left;
}
.contacts_header {
  float: right;
}
.contacts__address,
.contacts__phone {
  @include inlineblock;
  vertical-align: middle;
  margin-left: 86px;

  &:first-child {
    margin-left: 0;
  }
}
.contacts__address {
  font-family: "OpenSans-Regular";
  font-size: 14px;

  &:before {
    content: "";
    width: 18px;
    height: 22px;
    @include inlineblock;
    @include contacts-sprite(map);
    background-position: 0 6px;
  }
}
.contacts__phone {
  font-family: "OpenSans-Semibold";
  font-size: 18px;

  &:before {
    content: "";
    width: 18px;
    height: 22px;
    @include inlineblock;
    @include contacts-sprite(phone);
    background-position: 0 -16px;
    vertical-align: middle;
  }
}




.logo_header {
  float: left;
  height: 35px;
  width: 238px;
}
.logo_header {
  margin-right: 56px;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.menu_header {
  float: right;
  height: 35px;
  width: 390px;
}

.logo__img {
  display: block;
  width: 100%;
}
.logo__link {
  display: block;
}






.search_header {
  float: left;
}
.search__form {
  width: 394px;
}
.search__input {
  font-size: 14px;
  color: #7f7f7f;
  background-color: #fdfdfd;
  padding: 10px 10px;
  border: 1px solid #dee1e4;
  border-right: none;
  border-radius: 3px 0 0 3px;
  width: 250px;
  height: 13px;
  margin-right: -4px;
  margin-top: -1px;
  outline: none;
}
.search__button {
  background-image: -moz-linear-gradient( 56deg, rgb(255,102,0) 0%, rgb(255,106,27) 45%, rgb(255,110,53) 99%);
  background-image: -webkit-linear-gradient( 56deg, rgb(255,102,0) 0%, rgb(255,106,27) 45%, rgb(255,110,53) 99%);
  background-image: -ms-linear-gradient( 56deg, rgb(255,102,0) 0%, rgb(255,106,27) 45%, rgb(255,110,53) 99%);
  background-color: #ff6911;
  border: none;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-size: 16px;
  height: 34px;
  width: 79px;
  outline: none;
}



.menu__list {
  margin-right: -4px;
  margin: 0;
  padding: 0;
}
.menu__item {
  margin: 10px 0 10px 29px;

  &:first-child {
    margin-left: 0;
  }

}
.menu__link {
  color: #333;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  text-decoration: underline;

  &:hover {
    color: #ff6600;
  }
}
