@import "compass";
@import "icons/social/*.png";

.social__list,
.social__item {
  display: inline-block;


}

.social__list {
  margin: 0;
  padding: 0;
}
.social__item {
  background-color: #333333;
  border-radius: 50%;
  height: 26px;
  width: 26px;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }

}


.social__link {
  display: block;

  &_VK {
    @include social-sprite(vk);
  }
  &_Facebook {
    @include social-sprite(fb);
  }
  &_Twitter {
    @include social-sprite(tw);

  }
}
