- var valueSelector = ["Флагманы", "Бюджетная линейка"]
- var optionsBrand = ["Lenovo", "Apple", "Samsung", "Asus", "Motorola"]
- var optionsOs = ["Android", "iOS", "Windows Mobile", "Simbian", "Custom"]
- var optionsColors = ["white", "grey", "black", "dark-purple", "red", "yellow", "orange", "green", "blue", "purple", "pink", "brown"]

aside.sidebar
  .value-selector
    +menu(valueSelector, 'value-selector')
  .options
    ul.options__list
      li.options__item
        div.options-block
          h4.options-block__heading
      li.options__item
        div.options-block
          h4.options-block__heading
          +menuCheckbox(optionsBrand, 'options-block')
          .options-block__reset
      li.options__item
        div.options-block
          h4.options-block__heading
          
      li.options__item
        div.options-block
          h4.options-block__heading
          +menuColors(optionsColors, 'options-block')  
      li.options__item
        div.options-block
          h4.options-block__heading
          +menuCheckbox(optionsOs, 'options-block')
          .options-block__reset
          
